@model ZaposleniMVC.Models.Odgovor

@if (!(Model.Zaposleni is null) && Model.Zaposleni.Count() > 0)
{
    <div class="table-bordered">
        <table class="table">
            <tr>
                <th> @Html.Encode("Ime")</th>
                <th>@Html.Encode("Prezime")</th>
                <th>@Html.Encode("Email")</th>
                <th>Operacije</th>
                @foreach (var i in Model.Zaposleni)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(m => i.Ime)
                    </td>
                    <td>
                        @Html.DisplayFor(m => i.Prezime)
                    </td>
                    <td>
                        @Html.DisplayFor(m => i.Email)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@i.OsobaID" class="btn btn-sm btn-default">Izmeni</a>
                        <a asp-action="Details" asp-route-id="@i.OsobaID" class="btn btn-sm btn-success">Detalji</a>
                        <a asp-action="Delete" asp-route-id="@i.OsobaID" class="btn btn-sm btn-danger">Obrisi</a>

                    </td>
                </tr>
            }


            </table>

        </div>
    }
    else
    {
        <h3>Nema zaposlenih jos!</h3>
    }

@if (Model.Poruka == "Ne")
{
    <script>
        document.getElementById('tabela').style.borderColor = 'red';
        document.getElementById('tabela').style.borderWidth = '2px';
    </script>
}